# Ignore icon files
*.ico
*.png
*.svg
*.jpg
*.jpeg
*.gif
*.ini
*.zip

# Ignore specific icon directories
/icons/

# Ignore the specific file
Year 2\Semester 3\Scientific Programming\Problems\Problem set 2\External Sales.db.xlsx

